/* Jack Monk */

@media only screen and (min-width: 320px) and (max-width: 599px) {

    h1{
        width: 80%;
    }

    #error{
        width: 80%;
    }

    #map_canvas{
        width: 80%;
    }

    #info{
        width: 90%;
    }
    #tweets li{
        width: 100%;
        margin: 0 0 1% 0;
        min-height: 50px;
    }

    #post_code{
        width: 90%;
    }

    #post_code_label{
        width: 35%;
    }

    #post_code_input{
        width: 45%;
    }

    #post_code_btn{
        margin-left: 1%;
        margin-right: 0;
    }

}